* {
  padding: 0;
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
.header {
  width: 100%;
  height: 64px;
  background: #2196f3;
  display: flex;
  align-items: center;
}
.header__list {
  width: 300px;
  margin-left: 77px;
  list-style: none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}
.header__list-item {
  color: #fff;
}
.header__list-item:hover {
  color: #dbd6d6;
}

.content__all {
  width: 100%;
  position: relative;
  top: 50px;
}

.content__all-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.cart__content {
  width: 225px;
  height: 225px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.cart__content:hover .content__cart-img {
  box-shadow: 5px 5px 15px grey;
  border: solid 2px blueviolet;
  width: 220px;
  height: 220px;

}

.content__icon-img {
  margin-right: 10px;
  opacity: 0;
  fill: red;
}
.content__icon-img:hover {
  margin-right: 10px;
  opacity: 1;
}

.content__cart-img {
  width: 200px;
  height: 200px;
}

.content__btn {
  height: 70px;
  position: relative;
  bottom: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.favorite__cats {
  width: 100%;
  position: relative;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.favorite__cats-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
